/* ==========================================================================
   Changes by mkoerner
   ========================================================================== */

.header-images{
padding:8px
}

.social-icons{
float:right
}

.container i {
float: left;
margin: 4px;
height: 48px;
width: 48px;
background-size: 48px 48px;
}

i.facebook{
background-color:#3b5998;
background-repeat: no-repeat;
}

i.twitter{
background-color:#39a9e0;
background-repeat: no-repeat;
}

i.googleplus{
background-color: #d14836;
background-repeat: no-repeat;
}


/* ==========================================================================
   Base
   ========================================================================== */

body { }



/* =============================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
