/* ==========================================================================
   Changes by mkoerner
=========== */

/* for private password field */
input.input {
  width: 260px !important;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-images{
  margin-top: 8px;
  margin-bottom: 8px;
}

.collapse.navbar-collapse{
  margin-right: -30px;
  margin-left: -15px;
}

.navbar-search{
  width: 165px;
}

.theme-info{
  float: right;
}

.container i {
  float: left;
  background-repeat: no-repeat;
}
i:hover,
i:focus {
  background-color:#284c97 !important;
  }
.right{
  float:right;
}

i.x48{
  margin-left:4px;
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
}



i.delicious{
  background-color: #3274d1;
}

i.email{
  background-color: #666666;
}

i.github{
  background-color: #4183c4;
}

i.linkedin{
  background-color: #007fb1;
}

i.pinterest{
  background-color: #cb2027;
}

i.reddit{
  background-color: #ff4500;
}

i.stackoverflow{
  background-color: #f47920;
}

i.stumbleupon{
  background-color: #eb4924;
}

i.youtube{
  background-color: #cd332d;
}

i.facebook{
  background-color: #3b5998;
}

i.googleplus{
  background-color: #d14836;
}

i.rss{
  background-color: #ff8300;
}

i.twitter{
  background-color: #39a9e0;
}

.theme-info{
  float: right;
}

a{
  color: #2e57ab;
}

a:hover,
a:focus {
  color: #284c97;
}

.entry-thumbnail {
  margin-right: 5px;
  margin-bottom: 3px;
}

.post{
  margin-bottom: 35px;
}

.box-colored{
  background-color: #f8f8f8;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
 }

#box-select{
  max-width: 150px;
  margin-bottom: 6px;
  margin-top: 4px;
}

.sidebar-info{
  padding-bottom: 1px;
  margin-bottom: 10px;
}
.sidebar-inner{
  padding-left: 10px;
  padding-right: 10px;
}

.widget-inner{
  padding-bottom: 1px;
  margin-bottom: 1px;
}

.share-buttons{
  margin: 10px 10px 5px 10px;
  text-align: left;
}
.entry-categories-tags{
  font-style: italic;
  padding-top: 5px;
}

.sidebar ul{
  padding: 0;
  margin-left: 0px;
  list-style-type: none ;
}

/* For Swipe */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

.swipe .nav {
	position: absolute;
	width: 80px;
	height: 38px;
	z-index: 10;
	text-align: center;
	line-height: 40px;
	display: inline-block;
	color: #fff;
	top: 45%;
	cursor: pointer;
	background-color: rgba(0,0,0,0.8)
}
.swipe .nav.next {
	right: 0;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.swipe .nav.prev {
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

/* ==========================================================================
   Base
   ========================================================================== */

body {
}



/* =============================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
  margin-top: 15px;
  text-align: justify;
}




/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
  margin-top: 15px;
  margin-bottom: 12px;
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer {padding: 5px 0px 3px 0px; }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; margin-left:15px; margin-bottom:10px; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
