/* ==========================================================================
   Changes by mkoerner
   ========================================================================== */

h1 {
  font-size: 31.5px;
}
h2 {
  font-size: 24.5px;
}
h3 {
  font-size: 17.5px;
  margin-bottom: 0px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 11.9px;
}
h6 {
  font-size: 11.9px;
}

.header-images{
  padding: 8px;
}

.social-icons{
  float: right;
}

.theme-info{
  float: right;
}

.container i {
  float: left;
  margin: 4px;
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
}

i.facebook{
  background-color: #3b5998;
  background-repeat: no-repeat;
}

i.twitter{
  background-color: #39a9e0;
  background-repeat: no-repeat;
}

i.googleplus{
  background-color: #d14836;
  background-repeat: no-repeat;
}

a{
  color: #2e57ab;
}

a:hover,
a:focus {
  color: #284c97;
}

.entry-thumbnail {
  margin-right: 5px;
  margin-bottom: 3px;
}

.post{
  margin-bottom: 35px;
}

.sidebar-inner{
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.125);
  background-color: #f8f8f8;
  padding-left: 10px;
  padding-right: 10px;
}

.widget-inner{
  padding-bottom: 1px;
  margin-bottom: 1px;
}

ul{
  margin-left: 0px;
  list-style-type: none ;
}

.input-xlarge{
  width: 450px;
}

.footer{
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.125);
  background-color: #f8f8f8;
  padding: 4px;
}

/* ==========================================================================
   Base
   ========================================================================== */

body {
}



/* =============================================================================
   Header
   ========================================================================== */

.banner { }



/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
  margin-top: 15px;
  text-align: justify;
}




/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
  margin-bottom: 12px;
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; margin-left:15px; margin-bottom:10px; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {

}
